.state-animate.ng-enter,
.state-animate.ng-leave,
.state-animate.ng-move { -webkit-transition:0.5s linear all; transition:0.5s linear all; }
.state-animate.ng-enter,
.state-animate.ng-move { opacity:0; }
.state-animate.ng-enter.ng-enter-active,
.state-animate.ng-move.ng-move-active { opacity:1; }
.state-animate.ng-leave { opacity:1; }
.state-animate.ng-leave.ng-leave-active { opacity:0; }
h2.state-not-found {
  width: 320px;
  height: 320px;
  line-height: 267px;
  text-align: center;
  border-radius: 320px;
  color: #333;
  border: 30px dotted #eee;
  margin: 3em auto;
  font-size: 3em;
  font-weight: bolder;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pretty-p {
  /*text-indent: 3em;*/
  line-height: 1.5em;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.table-container,
.scroll-x {
  max-width: 100%;
  overflow-x: scroll;
}
#root-header li, [ng-click], [ui-sref] {
  cursor: pointer;
}
.td-title {
  text-align: right;
  color: #666;
  padding-right: 1.5em;
}
.unselectable,
.td-title,
th {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.select-only-text {
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}
.table-profile .td-title {
  width: 160px;
}
@media (max-width: 600px) {
  .table-profile .td-title {
    width: 85px;
  }
}
@media (max-width: 768px) {
  .navbar-fixed-top {
    position: static;
  }
  .li-sample {

  }
}
@media (min-width: 600px) {
  .navbar-middle {
    padding: 0 2em;
  }

  .lock {
    position: fixed;
  }
  .lock.well-locked {
    width: 262px !important;
    top: 70px;
  }

}
.well .td-title {
  border-top-color: transparent;
}

